*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/core/build/
/core/build/classes/kotlin/main/
/core-ui/build/
/core-ui/build/intermediates/javac/debug/classes/
/data/build/
/domain/build/
/domain/build/classes/kotlin/main/